


:root {
  --primary-dark: #1F3937;
  --primary-green: #6EE7B7;
  
}
body{
  background-color: var(--primary-dark);
  color: var(--primary-green);

}
h1 {
  
  text-align: center;
  padding-bottom: 3rem;
  background-color:#f87171;
}
.container {
  width: 50%;
  margin: auto;
  
  
}

input,label{
  display: block;
 
}
input {
  margin-bottom: 1rem
  width: 100%
   display: block;
  margin-top: 1rem;
  margin: auto;
}
#check-number {
  display: block;
  margin-top: 2rem;
  margin-left: 43%;
  background: transparent;
  color: var(--primary-green);
  border-color: var(--primary-green);
  border-width: medium;
  padding: 0.5 rem;
  border-radius: 0.5rem;
}
label{
  text-align: center;
  margin-top: 2rem;
  margin-bottom:1rem;
}
.img-container {
    display: flex;
    justify-content: space-around;
}

.img>img {
    width: 50rem;
    height: 27rem;
    margin-left: 40rem;
}